@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);
body {
font-family: 'Open Sans Light', 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
font-weight: 400;
background-color: #204a61;
background-image: url(../img/checkered-light-emboss.png);
}
h1 {
margin-top: 10px;
}